body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;  
}  

form {
  background: white;
  padding: 20px;
  width: 400px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

input, textarea{
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;  
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;  
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

button:hover {
  background-color: #ff1493  
}

button:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rage(0, 0, 0, 0.15);
}

@keyframes flash {
  0%{color: hotpink; transform: scale(1); }
  50%{color: deeppink; transform: scale(1,2); }
  100%{ color: hotpink; transform: scale(1); }
}

@keyframes boom {
  0% {transform: scale(0.5); opacity: 0; }
  60% { transform: scale(1.3); opacity: 1; }
  100% { transform: scale(1); }
}

#message {
    animation: boom 0.6s ease-out, flash 0.5s infinite;
}